FORMAT: X-1A
HOST: http://api.ly.g0v.tw

# TW ly api v0
online test of [beta API](http://api.ly.g0v.tw)
This is beta version of api.ly.g0v.tw. Written in [apiblueprint](http://apiblueprint.org/) by [Markdown](http://daringfireball.net/projects/markdown/syntax) syntax.
Every API have following attributes:

+ paging (Object)
    + count (integer) ... Total number of entries
    + l (integer) ... Number of entries list in entries.
    + sk (integer) ... Start offset of entries. Start from 0
        + Sample Page 1: http://api.ly.g0v.tw/v0/collections/calendar?l=10&sk=0
        + Sample Page 2: http://api.ly.g0v.tw/v0/collections/calendar?l=10&sk=10
        + Sample Page 3: http://api.ly.g0v.tw/v0/collections/calendar?l=10&sk=20

+ entries (Array)
    + Every entry have it's own attributes, see following list and example.

Every API can pass json object as query to filter result

+ query sample:
    + Filter field "proposed_by" in someone's name of bills: {"proposed_by":{"$matches":"someone's name"}}
        + Sample URI: http://api.ly.g0v.tw/v0/collections/bills?q={%22proposed_by%22:{%22$matches%22:%22%E4%BA%BA%22}}
    + Filter field "summary" in keyword of sittings:
        + Sample URI: http://api.ly.g0v.tw/v0/collections/sittings?q={%22summary%22:{%22$matches%22:%22%E5%81%A5%E4%BF%9D%22}}

##### Retrieve an API [GET]


# GET /v0/
Show specific version of API.
+ Response 200 (application/json; charset=UTF-8)

    + Body

            [
                "collections",
                "runCommand"
            ]

# GET /v0/collections/
List all avaible collection of current version.
+ Response 200 (application/json; charset=UTF-8)

    + Body

            [
                "amendments",
                "bills",
                "calendar",
                "ivod",
                "laws",
                "motions",
                "sittings",
                "ttsbills",
                "ttsinterpellation",
                "ttsmotions"
            ]

# Group ivod
+ This is the api group of ivod (影片)
+ ivod為立法院的議事轉播公開影片，每一個entry包含影片的錄製時間、影片種類、原始連結、縮圖等資訊。
資料來源:立法院議事轉播 http://ivod.ly.gov.tw/

## GET /v0/collections/ivod/
Example: http://api.ly.g0v.tw/v0/collections/ivod/
+ Response 200 (application/json; charset=UTF-8)

    + Body

            {
               "paging":{
                  "count":43059,
                  "l":30,
                  "sk":0
               },
               "entries":[
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e6%b1%9f%e6%83%a0%e8%b2%9e/%e7%a4%be%e6%9c%83%e7%a6%8f%e5%88%a9%e5%8f%8a%e8%a1%9b%e7%94%9f%e7%92%b0%e5%a2%83/%e6%b1%9f%e6%83%a0%e8%b2%9e-%e7%a4%be%e6%9c%83%e7%a6%8f%e5%88%a9%e5%8f%8a%e8%a1%9b%e7%94%9f%e7%92%b0%e5%a2%83-2012-11-19-10-2-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"江惠貞 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/1119-101455-26-0.jpg",
                     "firm":"clip",
                     "time":"2012-11-19T10:02:00.000Z",
                     "first_frame_timestamp":null,
                     "length":753,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e6%b1%9f%e6%83%a0%e8%b2%9e/%e7%a4%be%e6%9c%83%e7%a6%8f%e5%88%a9%e5%8f%8a%e8%a1%9b%e7%94%9f%e7%92%b0%e5%a2%83/%e6%b1%9f%e6%83%a0%e8%b2%9e-%e7%a4%be%e6%9c%83%e7%a6%8f%e5%88%a9%e5%8f%8a%e8%a1%9b%e7%94%9f%e7%92%b0%e5%a2%83-2012-11-19-10-2-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"08-02-SWE-21",
                     "youtube_id":"u_NAiQhf8w0",
                     "wmvid":"826161983"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e6%9e%97%e4%bd%b3%e9%be%8d/%e5%a4%96%e4%ba%a4%e5%8f%8a%e5%9c%8b%e9%98%b2/%e6%9e%97%e4%bd%b3%e9%be%8d-%e5%a4%96%e4%ba%a4%e5%8f%8a%e5%9c%8b%e9%98%b2-2012-10-8-11-11-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"林佳龍 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/1008-112420-20-0.jpg",
                     "firm":"clip",
                     "time":"2012-10-08T11:12:00.000Z",
                     "first_frame_timestamp":null,
                     "length":756,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e6%9e%97%e4%bd%b3%e9%be%8d/%e5%a4%96%e4%ba%a4%e5%8f%8a%e5%9c%8b%e9%98%b2/%e6%9e%97%e4%bd%b3%e9%be%8d-%e5%a4%96%e4%ba%a4%e5%8f%8a%e5%9c%8b%e9%98%b2-2012-10-8-11-11-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"08-02-FND-08",
                     "youtube_id":"72HHCxB-XrQ",
                     "wmvid":"820157433"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e9%84%ad%e5%a4%a9%e8%b2%a1Sra%ef%bc%8eKacaw/%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6/%e9%84%ad%e5%a4%a9%e8%b2%a1Sra%ef%bc%8eKacaw-%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6-2012-10-8-11-13-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"鄭天財Sra．Kacaw 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/1008-111815-25-405.jpg",
                     "firm":"clip",
                     "time":"2012-10-08T11:13:00.000Z",
                     "first_frame_timestamp":null,
                     "length":293,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e9%84%ad%e5%a4%a9%e8%b2%a1Sra%ef%bc%8eKacaw/%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6/%e9%84%ad%e5%a4%a9%e8%b2%a1Sra%ef%bc%8eKacaw-%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6-2012-10-8-11-13-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"08-02-JUD-EDU-01",
                     "youtube_id":"oTfKkPB03MQ",
                     "wmvid":"825157417"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e9%99%b3%e6%98%8e%e6%96%87/%e7%b6%93%e6%bf%9f/%e9%99%b3%e6%98%8e%e6%96%87-%e7%b6%93%e6%bf%9f-2012-11-26-10-21-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"陳明文 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/1126-104202-21-0.jpg",
                     "firm":"clip",
                     "time":"2012-11-26T10:22:00.000Z",
                     "first_frame_timestamp":null,
                     "length":1210,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e9%99%b3%e6%98%8e%e6%96%87/%e7%b6%93%e6%bf%9f/%e9%99%b3%e6%98%8e%e6%96%87-%e7%b6%93%e6%bf%9f-2012-11-26-10-21-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"08-02-ECO-18",
                     "youtube_id":"tm6VOx1AlGo",
                     "wmvid":"821162486"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e5%90%b3%e5%ae%9c%e8%87%bb/%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6/%e5%90%b3%e5%ae%9c%e8%87%bb-%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6-2012-10-8-11-18-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"吳宜臻 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/1008-112030-25-377.jpg",
                     "firm":"clip",
                     "time":"2012-10-08T11:19:00.000Z",
                     "first_frame_timestamp":null,
                     "length":87,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e5%90%b3%e5%ae%9c%e8%87%bb/%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6/%e5%90%b3%e5%ae%9c%e8%87%bb-%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6-2012-10-8-11-18-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"08-02-JUD-EDU-01",
                     "youtube_id":"i82dubBIV6I",
                     "wmvid":"825157424"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e9%82%b1%e5%bf%97%e5%81%89/%e6%95%99%e8%82%b2%e5%8f%8a%e6%96%87%e5%8c%96/%e9%82%b1%e5%bf%97%e5%81%89-%e6%95%99%e8%82%b2%e5%8f%8a%e6%96%87%e5%8c%96-2012-10-8-11-19-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"邱志偉 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/1008-113257-23-0.jpg",
                     "firm":"clip",
                     "time":"2012-10-08T11:20:00.000Z",
                     "first_frame_timestamp":null,
                     "length":783,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e9%82%b1%e5%bf%97%e5%81%89/%e6%95%99%e8%82%b2%e5%8f%8a%e6%96%87%e5%8c%96/%e9%82%b1%e5%bf%97%e5%81%89-%e6%95%99%e8%82%b2%e5%8f%8a%e6%96%87%e5%8c%96-2012-10-8-11-19-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"08-02-EDU-08",
                     "youtube_id":"QVfjnP_k1bM",
                     "wmvid":"823157447"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-100k/2013_10_15/%e7%b4%85%e6%a8%93%e7%a8%8b%e5%ba%8f201%e6%9c%83%e8%ad%b0%e5%ae%a4(WMV)_2013_10_15_114725.wmv",
                     "type":"sitting",
                     "speaker":null,
                     "thumb":null,
                     "firm":"whole",
                     "time":"2013-10-15T12:00:00.000Z",
                     "first_frame_timestamp":"2013-10-15T11:47:25.660Z",
                     "length":2672,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv/2013_10_15/%e7%b4%85%e6%a8%93%e7%a8%8b%e5%ba%8f201%e6%9c%83%e8%ad%b0%e5%ae%a4(WMV)_2013_10_15_114725.wmv",
                     "sitting_id":"08-04-PRO-05",
                     "youtube_id":"qEcQmw-9rvU",
                     "wmvid":"281328711"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-100k/2013_10_16/%e7%b4%85%e6%a8%93101%e6%9c%83%e8%ad%b0%e5%ae%a4(WMV)_2013_10_16_082719.wmv",
                     "type":"sitting",
                     "speaker":null,
                     "thumb":null,
                     "firm":"whole",
                     "time":"2013-10-16T09:00:00.000Z",
                     "first_frame_timestamp":"2013-10-16T08:28:06.170Z",
                     "length":20922,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv/2013_10_16/%e7%b4%85%e6%a8%93101%e6%9c%83%e8%ad%b0%e5%ae%a4(WMV)_2013_10_16_082719.wmv",
                     "sitting_id":"08-04-ECO-05",
                     "youtube_id":"0BTUH5FZaUk",
                     "wmvid":"211328808"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-100k/2013_10_16/%e7%b4%85%e6%a8%93202%e6%9c%83%e8%ad%b0%e5%ae%a4(WMV)_2013_10_16_082617.wmv",
                     "type":"sitting",
                     "speaker":null,
                     "thumb":null,
                     "firm":"whole",
                     "time":"2013-10-16T09:00:00.000Z",
                     "first_frame_timestamp":"2013-10-16T08:27:24.480Z",
                     "length":16447,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv/2013_10_16/%e7%b4%85%e6%a8%93202%e6%9c%83%e8%ad%b0%e5%ae%a4(WMV)_2013_10_16_082617.wmv",
                     "sitting_id":"08-04-IAD-03",
                     "youtube_id":"3RFaLrRdjN4",
                     "wmvid":"191328808"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-100k/2013_10_17/%e5%a4%a7%e7%a6%ae%e5%a0%82(WMV)_2013_10_17_082747.wmv",
                     "type":"sitting",
                     "speaker":null,
                     "thumb":null,
                     "firm":"whole",
                     "time":"2013-10-17T09:00:00.000Z",
                     "first_frame_timestamp":"2013-10-17T08:28:00.590Z",
                     "length":13500,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv/2013_10_17/%e5%a4%a7%e7%a6%ae%e5%a0%82(WMV)_2013_10_17_082747.wmv",
                     "sitting_id":"08-04-FIN-ECO-01",
                     "youtube_id":"K8v0iuCQLOk",
                     "wmvid":"221328908"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e6%9e%97%e6%ad%a3%e4%ba%8c/%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6/%e6%9e%97%e6%ad%a3%e4%ba%8c-%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6-2012-10-8-11-20-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"林正二 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/1008-112251-25-171.jpg",
                     "firm":"clip",
                     "time":"2012-10-08T11:21:00.000Z",
                     "first_frame_timestamp":null,
                     "length":124,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e6%9e%97%e6%ad%a3%e4%ba%8c/%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6/%e6%9e%97%e6%ad%a3%e4%ba%8c-%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6-2012-10-8-11-20-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"08-02-JUD-EDU-01",
                     "youtube_id":"P5gXzWLtW0o",
                     "wmvid":"825157429"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e9%84%ad%e5%a4%a9%e8%b2%a1Sra%ef%bc%8eKacaw/%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6/%e9%84%ad%e5%a4%a9%e8%b2%a1Sra%ef%bc%8eKacaw-%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6-2012-10-8-11-24-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"鄭天財Sra．Kacaw 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/1008-112532-25-405.jpg",
                     "firm":"clip",
                     "time":"2012-10-08T11:24:00.000Z",
                     "first_frame_timestamp":null,
                     "length":66,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e9%84%ad%e5%a4%a9%e8%b2%a1Sra%ef%bc%8eKacaw/%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6/%e9%84%ad%e5%a4%a9%e8%b2%a1Sra%ef%bc%8eKacaw-%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6-2012-10-8-11-24-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"08-02-JUD-EDU-01",
                     "youtube_id":"4ya59HWLh6s",
                     "wmvid":"825157435"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e6%9f%af%e5%bb%ba%e9%8a%98/%e9%99%a2%e6%9c%83/%e6%9f%af%e5%bb%ba%e9%8a%98-%e9%99%a2%e6%9c%83-2009-2-20-16-32-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"柯建銘 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-170333-27-151.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T16:33:00.000Z",
                     "first_frame_timestamp":null,
                     "length":1847,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e6%9f%af%e5%bb%ba%e9%8a%98/%e9%99%a2%e6%9c%83/%e6%9f%af%e5%bb%ba%e9%8a%98-%e9%99%a2%e6%9c%83-2009-2-20-16-32-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097702"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e6%9e%97%e9%b4%bb%e6%b1%a0/%e9%99%a2%e6%9c%83/%e6%9e%97%e9%b4%bb%e6%b1%a0-%e9%99%a2%e6%9c%83-2009-2-20-17-3-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"林鴻池 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-173515-27-266.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T17:04:00.000Z",
                     "first_frame_timestamp":null,
                     "length":1879,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e6%9e%97%e9%b4%bb%e6%b1%a0/%e9%99%a2%e6%9c%83/%e6%9e%97%e9%b4%bb%e6%b1%a0-%e9%99%a2%e6%9c%83-2009-2-20-17-3-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097704"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e6%9d%8e%e4%bf%8a%e6%af%85/%e9%99%a2%e6%9c%83/%e6%9d%8e%e4%bf%8a%e6%af%85-%e9%99%a2%e6%9c%83-2009-2-20-17-35-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"李俊毅 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-180656-27-123.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T17:35:00.000Z",
                     "first_frame_timestamp":null,
                     "length":1889,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e6%9d%8e%e4%bf%8a%e6%af%85/%e9%99%a2%e6%9c%83/%e6%9d%8e%e4%bf%8a%e6%af%85-%e9%99%a2%e6%9c%83-2009-2-20-17-35-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097706"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e9%82%b1%e6%af%85/%e9%99%a2%e6%9c%83/%e9%82%b1%e6%af%85-%e9%99%a2%e6%9c%83-2009-2-20-18-16-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"邱毅 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-184736-27-28.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T18:16:00.000Z",
                     "first_frame_timestamp":null,
                     "length":1872,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e9%82%b1%e6%af%85/%e9%99%a2%e6%9c%83/%e9%82%b1%e6%af%85-%e9%99%a2%e6%9c%83-2009-2-20-18-16-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097708"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e5%82%85%e5%b4%91%e8%90%81/%e9%99%a2%e6%9c%83/%e5%82%85%e5%b4%91%e8%90%81-%e9%99%a2%e6%9c%83-2009-2-20-18-47-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"傅崑萁 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-191841-27-143.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T18:48:00.000Z",
                     "first_frame_timestamp":null,
                     "length":1854,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e5%82%85%e5%b4%91%e8%90%81/%e9%99%a2%e6%9c%83/%e5%82%85%e5%b4%91%e8%90%81-%e9%99%a2%e6%9c%83-2009-2-20-18-47-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097710"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e9%bb%83%e7%be%a9%e4%ba%a4/%e9%99%a2%e6%9c%83/%e9%bb%83%e7%be%a9%e4%ba%a4-%e9%99%a2%e6%9c%83-2009-2-20-19-18-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"黃義交 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-194950-27-158.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T19:19:00.000Z",
                     "first_frame_timestamp":null,
                     "length":1851,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e9%bb%83%e7%be%a9%e4%ba%a4/%e9%99%a2%e6%9c%83/%e9%bb%83%e7%be%a9%e4%ba%a4-%e9%99%a2%e6%9c%83-2009-2-20-19-18-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097712"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-100k/2013_10_18/%e8%ad%b0%e5%a0%b4(WMV)_2013_10_18_084129.wmv",
                     "type":"sitting",
                     "speaker":null,
                     "thumb":null,
                     "firm":"whole",
                     "time":"2013-10-18T09:00:00.000Z",
                     "first_frame_timestamp":"2013-10-18T08:41:29.900Z",
                     "length":37048,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv/2013_10_18/%e8%ad%b0%e5%a0%b4(WMV)_2013_10_18_084129.wmv",
                     "sitting_id":"08-04-YS-06",
                     "youtube_id":"c64f_KHkG2s",
                     "wmvid":"271329008"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e6%9e%97%e7%82%b3%e5%9d%a4/%e9%99%a2%e6%9c%83/%e6%9e%97%e7%82%b3%e5%9d%a4-%e9%99%a2%e6%9c%83-2009-2-20-16-3-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"林炳坤 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-163236-27-145.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T16:04:00.000Z",
                     "first_frame_timestamp":null,
                     "length":1737,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e6%9e%97%e7%82%b3%e5%9d%a4/%e9%99%a2%e6%9c%83/%e6%9e%97%e7%82%b3%e5%9d%a4-%e9%99%a2%e6%9c%83-2009-2-20-16-3-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097700"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e8%a8%b1%e6%b7%bb%e8%b2%a1/%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6/%e8%a8%b1%e6%b7%bb%e8%b2%a1-%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6-2012-11-26-12-5-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"許添財 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/1126-121817-25-0.jpg",
                     "firm":"clip",
                     "time":"2012-11-26T12:05:00.000Z",
                     "first_frame_timestamp":null,
                     "length":785,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e8%a8%b1%e6%b7%bb%e8%b2%a1/%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6/%e8%a8%b1%e6%b7%bb%e8%b2%a1-%e5%8f%b8%e6%b3%95%e5%8f%8a%e6%b3%95%e5%88%b6-2012-11-26-12-5-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"08-02-JUD-16",
                     "youtube_id":"J39Vg3rsFvg",
                     "wmvid":"825162524"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e8%b6%99%e9%ba%97%e9%9b%b2/%e9%99%a2%e6%9c%83/%e8%b6%99%e9%ba%97%e9%9b%b2-%e9%99%a2%e6%9c%83-2009-2-20-9-29-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"趙麗雲 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-093243-27-352.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T09:29:00.000Z",
                     "first_frame_timestamp":null,
                     "length":193,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e8%b6%99%e9%ba%97%e9%9b%b2/%e9%99%a2%e6%9c%83/%e8%b6%99%e9%ba%97%e9%9b%b2-%e9%99%a2%e6%9c%83-2009-2-20-9-29-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097669"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e6%b6%82%e9%86%92%e5%93%b2/%e9%99%a2%e6%9c%83/%e6%b6%82%e9%86%92%e5%93%b2-%e9%99%a2%e6%9c%83-97693.wmv",
                     "type":"sitting",
                     "speaker":"涂醒哲 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/97693.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T09:32:00.000Z",
                     "first_frame_timestamp":null,
                     "length":201,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e6%b6%82%e9%86%92%e5%93%b2/%e9%99%a2%e6%9c%83/%e6%b6%82%e9%86%92%e5%93%b2-%e9%99%a2%e6%9c%83-97693.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"97693"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e7%bf%81%e9%87%91%e7%8f%a0/%e9%99%a2%e6%9c%83/%e7%bf%81%e9%87%91%e7%8f%a0-%e9%99%a2%e6%9c%83-2009-2-20-9-36-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"翁金珠 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-093945-27-345.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T09:36:00.000Z",
                     "first_frame_timestamp":null,
                     "length":208,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e7%bf%81%e9%87%91%e7%8f%a0/%e9%99%a2%e6%9c%83/%e7%bf%81%e9%87%91%e7%8f%a0-%e9%99%a2%e6%9c%83-2009-2-20-9-36-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097673"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e6%a5%8a%e7%93%8a%e7%93%94/%e9%99%a2%e6%9c%83/%e6%a5%8a%e7%93%8a%e7%93%94-%e9%99%a2%e6%9c%83-2009-2-20-9-40-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"楊瓊瓔 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-094322-27-86.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T09:40:00.000Z",
                     "first_frame_timestamp":null,
                     "length":182,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e6%a5%8a%e7%93%8a%e7%93%94/%e9%99%a2%e6%9c%83/%e6%a5%8a%e7%93%8a%e7%93%94-%e9%99%a2%e6%9c%83-2009-2-20-9-40-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097675"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e9%99%b3%e7%af%80%e5%a6%82/%e9%99%a2%e6%9c%83/%e9%99%b3%e7%af%80%e5%a6%82-%e9%99%a2%e6%9c%83-2009-2-20-9-43-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"陳節如 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-094611-27-349.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T09:44:00.000Z",
                     "first_frame_timestamp":null,
                     "length":156,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e9%99%b3%e7%af%80%e5%a6%82/%e9%99%a2%e6%9c%83/%e9%99%b3%e7%af%80%e5%a6%82-%e9%99%a2%e6%9c%83-2009-2-20-9-43-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097677"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e8%95%ad%e6%99%af%e7%94%b0/%e9%99%a2%e6%9c%83/%e8%95%ad%e6%99%af%e7%94%b0-%e9%99%a2%e6%9c%83-2009-2-20-9-46-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"蕭景田 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-094935-27-356.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T09:46:00.000Z",
                     "first_frame_timestamp":null,
                     "length":193,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e8%95%ad%e6%99%af%e7%94%b0/%e9%99%a2%e6%9c%83/%e8%95%ad%e6%99%af%e7%94%b0-%e9%99%a2%e6%9c%83-2009-2-20-9-46-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097679"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e9%ab%98%e5%bf%97%e9%b5%ac/%e9%99%a2%e6%9c%83/%e9%ab%98%e5%bf%97%e9%b5%ac-%e9%99%a2%e6%9c%83-2009-2-20-9-49-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"高志鵬 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-095304-27-183.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T09:50:00.000Z",
                     "first_frame_timestamp":null,
                     "length":198,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e9%ab%98%e5%bf%97%e9%b5%ac/%e9%99%a2%e6%9c%83/%e9%ab%98%e5%bf%97%e9%b5%ac-%e9%99%a2%e6%9c%83-2009-2-20-9-49-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097681"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e9%99%b3%e6%b7%91%e6%85%a7/%e9%99%a2%e6%9c%83/%e9%99%b3%e6%b7%91%e6%85%a7-%e9%99%a2%e6%9c%83-2009-2-20-9-53-%e9%99%a2%e5%85%a7.wmv",
                     "type":"sitting",
                     "speaker":"陳淑慧 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/0220-095636-27-359.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T09:53:00.000Z",
                     "first_frame_timestamp":null,
                     "length":203,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e9%99%b3%e6%b7%91%e6%85%a7/%e9%99%a2%e6%9c%83/%e9%99%b3%e6%b7%91%e6%85%a7-%e9%99%a2%e6%9c%83-2009-2-20-9-53-%e9%99%a2%e5%85%a7.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"727097683"
                  },
                  {
                     "video_url_n":"mms://mediavod01.ly.gov.tw/wmv-clip-100k/%e6%b1%9f%e7%be%a9%e9%9b%84/%e9%99%a2%e6%9c%83/%e6%b1%9f%e7%be%a9%e9%9b%84-%e9%99%a2%e6%9c%83-97696.wmv",
                     "type":"sitting",
                     "speaker":"江義雄 委員",
                     "thumb":"http://ivod.ly.gov.tw/thumbnail/images/97696.jpg",
                     "firm":"clip",
                     "time":"2009-02-20T09:56:00.000Z",
                     "first_frame_timestamp":null,
                     "length":206,
                     "video_url_w":"mms://mediavod01.ly.gov.tw/wmv-clip/%e6%b1%9f%e7%be%a9%e9%9b%84/%e9%99%a2%e6%9c%83/%e6%b1%9f%e7%be%a9%e9%9b%84-%e9%99%a2%e6%9c%83-97696.wmv",
                     "sitting_id":"07-03-YS-01",
                     "youtube_id":null,
                     "wmvid":"97696"
                  }
               ]
            }

# Group calendar
+ This is the api group of calendar (行程)
+ 立法院最新的公開行程
資料來源: http://www.ly.gov.tw/01_lyinfo/0101_lynews/lynewsList.action

## GET /v0/collections/calendar/
Example: http://api.ly.g0v.tw/v0/collections/calendar?q={"type":"hearing"}
+ Response 200 (application/json; charset=UTF-8)

    + Body

            {
               "paging":{
                  "count":8033,
                  "l":30,
                  "sk":0
               },
               "entries":[
                  {
                     "sitting":9,
                     "sitting_id":"08-05-ECO-09",
                     "id":60778,
                     "date":"2014-04-24T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"12:00:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期經濟委員會第9次全體委員會議",
                     "chair":"林岱樺",
                     "summary":"一、審查行政院函請審議「糧食管理法部分條文修正草案」案。\n二、審查本院委員盧秀燕等41人擬具「糧食管理法部分條文修正草案」案。\n三、審查本院委員劉建國等19人擬具「糧食管理法第十四條、第十八條及第十八條之二條文修正草案」案。\n四、審查本院委員黃偉哲等19人擬具「糧食管理法第十八條條文修正草案」案。\n五、審查本院委員李昆澤等21人擬具「糧食管理法第十八條條文修正草案」案。\n六、審查本院委員江啟臣等24人擬具「糧食管理法第十四條之一及第十八條條文修正草案」案。\n七、審查本院委員鄭汝芬等36人擬具「糧食管理法第十八條條文修正草案」案。\n八、審查本院委員李應元等19人擬具「糧食管理法第十四條及第十八條條文修正草案」案。\n九、審查本院委員葉津鈴等17人擬具「糧食管理法增訂第十八條之二條文草案」案。\n十、審查本院委員蘇震清等27人擬具「糧食管理法部分條文修正草案」案。\n十一、審查本院委員王育敏等24人擬具「糧食管理法第四條、第十四條之一及第十八條條文修正草案」案。\n十二、審查本院委員羅淑蕾等22人擬具「糧食管理法第十八條條文修正草案」案。\n十三、審查本院委員江惠貞等22人擬具「糧食管理法第十八條條文修正草案」案。\n十四、審查本院委員張嘉郡等24人擬具「糧食管理法第十四條之一及第十八條條文修正草案」案。\n十五、審查本院委員王惠美等21人擬具「糧食管理法第十八條條文修正草案」案。\n十六、審查本院委員蔣乃辛等28人擬具「糧食管理法第十四條之一及第十八條條文修正草案」案。\n十七、審查本院委員李貴敏等38人擬具「糧食管理法第十四條、第十八條及第十八條之二條文修正草案」案。\n十八、審查本院委員田秋堇等22人擬具「糧食管理法第十四條之一及第十八條條文修正草案」案。\n十九、審查本院台灣團結聯盟黨團擬具「糧食管理法第十八條條文修正草案」案。\n二十、審查本院委員謝國樑等20人擬具「糧食管理法第十八條及第十八條之二條文修正草案」案。\n二十一、審查本院委員吳育仁等20人擬具「糧食管理法第十八條條文修正草案」案。\n二十二、審查本院委員李慶華等23人擬具「糧食管理法第十八條條文修正草案」案。(4月23日、24日上午二天一次會)",
                     "committee":[
                        "ECO"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":17,
                     "sitting_id":"08-05-SWE-17",
                     "id":60776,
                     "date":"2014-04-24T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期社會福利及衛生環境委員會第17次全體委員會議",
                     "chair":"劉建國",
                     "summary":"一、邀請衛生福利部邱部長文達、勞動部次長、教育部、國防部、國軍退除役官兵輔導委員會、財政部等派員就「如何改善『血汗醫院』問題暨健全財團法人醫療院所財務透明化機制」列席報告，並備質詢。\n二、繼續併案審查行政院函請審議「醫療糾紛處理及醫療事故補償法草案」、本院委員江惠貞等20人、委員劉建國等18人、委員蘇清泉等23人、委員徐少萍等17人、委員陳節如等19人、委員林世嘉等21人、委員田秋堇等27人分別擬具「醫療糾紛處理及醫療事故補償法草案」、委員蔡錦隆等24人、委員吳宜臻等24人分別擬具「醫療事故補償法草案」、委員蔡錦隆等24人擬具「醫事爭議處理法草案」及委員吳宜臻等24人擬具「醫療糾紛處理法草案」等12案。",
                     "committee":[
                        "SWE"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":15,
                     "sitting_id":"08-05-FND-15",
                     "id":60721,
                     "date":"2014-04-24T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期外交及國防委員會第15次全體委員會議",
                     "chair":"陳歐珀",
                     "summary":"邀請外交部部長林永樂、經濟部報告「我國加入TPP其成員國對我國加入資格（中華民國Republic of China、台灣Taiwan、中華台北Chinese Taipei）及困境因應對策」，並備質詢。",
                     "committee":[
                        "FND"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":9,
                     "sitting_id":"08-05-ECO-09",
                     "id":60841,
                     "date":"2014-04-24T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"12:00:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期經濟委員會第9次全體委員會議",
                     "chair":"林岱樺",
                     "summary":"一、審查行政院函請審議「糧食管理法部分條文修正草案」案。\n二、審查本院委員盧秀燕等41人擬具「糧食管理法部分條文修正草案」案。\n三、審查本院委員劉建國等19人擬具「糧食管理法第十四條、第十八條及第十八條之二條文修正草案」案。\n四、審查本院委員黃偉哲等19人擬具「糧食管理法第十八條條文修正草案」案。\n五、審查本院委員李昆澤等21人擬具「糧食管理法第十八條條文修正草案」案。\n六、審查本院委員江啟臣等24人擬具「糧食管理法第十四條之一及第十八條條文修正草案」案。\n七、審查本院委員鄭汝芬等36人擬具「糧食管理法第十八條條文修正草案」案。\n八、審查本院委員李應元等19人擬具「糧食管理法第十四條及第十八條條文修正草案」案。\n九、審查本院委員葉津鈴等17人擬具「糧食管理法增訂第十八條之二條文草案」案。\n十、審查本院委員蘇震清等27人擬具「糧食管理法部分條文修正草案」案。\n十一、審查本院委員王育敏等24人擬具「糧食管理法第四條、第十四條之一及第十八條條文修正草案」案。\n十二、審查本院委員羅淑蕾等22人擬具「糧食管理法第十八條條文修正草案」案。\n十三、審查本院委員江惠貞等22人擬具「糧食管理法第十八條條文修正草案」案。\n十四、審查本院委員張嘉郡等24人擬具「糧食管理法第十四條之一及第十八條條文修正草案」案。\n十五、審查本院委員王惠美等21人擬具「糧食管理法第十八條條文修正草案」案。\n十六、審查本院委員蔣乃辛等28人擬具「糧食管理法第十四條之一及第十八條條文修正草案」案。\n十七、審查本院委員李貴敏等38人擬具「糧食管理法第十四條、第十八條及第十八條之二條文修正草案」案。\n十八、審查本院委員田秋堇等22人擬具「糧食管理法第十四條之一及第十八條條文修正草案」案。\n十九、審查本院台灣團結聯盟黨團擬具「糧食管理法第十八條條文修正草案」案。\n二十、審查本院委員謝國樑等20人擬具「糧食管理法第十八條及第十八條之二條文修正草案」案。\n二十一、審查本院委員吳育仁等20人擬具「糧食管理法第十八條條文修正草案」案。\n二十二、審查本院委員李慶華等23人擬具「糧食管理法第十八條條文修正草案」案。(4月23日下午、24日上午二天一次會)",
                     "committee":[
                        "ECO"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":null,
                     "sitting_id":null,
                     "id":60761,
                     "date":"2014-04-24T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"misc",
                     "name":"考察南投地區交通及觀光建設。",
                     "chair":"楊麗環",
                     "summary":"",
                     "committee":[
                        "TRA"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":14,
                     "sitting_id":"08-05-EDU-14",
                     "id":60791,
                     "date":"2014-04-24T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期教育及文化委員會第14次全體委員會議",
                     "chair":"陳碧涵",
                     "summary":"一、處理文化部103年度預算凍結項目須經報告後始得動支案32案。二、繼續處理103年度國立文化機構作業基金附屬單位預算(非營業部分)。",
                     "committee":[
                        "EDU"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":10,
                     "sitting_id":"08-05-JUD-10",
                     "id":60772,
                     "date":"2014-04-24T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期司法及法制委員會第10次全體委員會議",
                     "chair":"呂學樟",
                     "summary":"併案審查（一）委員賴士葆等16人擬具「強制執行法第一條條文修正草案」案、（二）委員賴士葆等19人擬具「強制執行法第八十一條條文修正草案」案、（三）委員蕭美琴等18人擬具「強制執行法第五十三條及第一百二十二條條文修正草案」案、（四）委員陳亭妃等22人擬具「強制執行法部分條文修正草案」案及（五）委員丁守中等28人擬具「強制執行法第七十七條及第八十一條條文修正草案」案。",
                     "committee":[
                        "JUD"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":8,
                     "sitting_id":"08-05-FIN-08",
                     "id":60774,
                     "date":"2014-04-24T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期財政委員會第8次全體委員會議",
                     "chair":"李應元",
                     "summary":"審查本院委員江啟臣等20人、委員孫大千等20人及委員徐欣瑩等25人分別擬具「遺產及贈與稅法第二十條條文修正草案」案、委員楊瓊瓔等22人擬具「遺產及贈與稅法第十條之二條文修正草案」案、委員黃文玲等21人擬具「遺產及贈與稅法刪除第四十三條條文草案」案及委員尤美女等28人擬具「遺產及贈與稅法第六條及第二十三條條文修正草案」案計6案。(4月23日及24日兩天一次會)",
                     "committee":[
                        "FIN"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":2,
                     "sitting_id":"08-05-ECO-FIN-02",
                     "id":60803,
                     "date":"2014-04-24T00:00:00.000Z",
                     "time_start":"14:30:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期經濟、財政委員會第2次聯席會議",
                     "chair":"林岱樺",
                     "summary":"一、繼續審查本院民進黨黨團擬具「產業創新條例第七十條條文修正草案」案。\n二、繼續審查本院委員蔣乃辛等23人擬具「產業創新條例第十條條文修正草案」案。\n三、繼續審查本院委員蔡正元等20人擬具「產業創新條例第十條條文修正草案」案。\n四、繼續審查本院委員楊麗環等50人擬具「產業創新條例第二十六條條文修正草案」案。",
                     "committee":[
                        "ECO",
                        "FIN"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":9,
                     "sitting_id":"08-05-ECO-09",
                     "id":60805,
                     "date":"2014-04-24T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"12:00:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期經濟委員會第9次全體委員會議",
                     "chair":"林岱樺",
                     "summary":"一、審查行政院函請審議「糧食管理法部分條文修正草案」案。\n二、審查本院委員盧秀燕等41人擬具「糧食管理法部分條文修正草案」案。\n三、審查本院委員劉建國等19人擬具「糧食管理法第十四條、第十八條及第十八條之二條文修正草案」案。\n四、審查本院委員黃偉哲等19人擬具「糧食管理法第十八條條文修正草案」案。\n五、審查本院委員李昆澤等21人擬具「糧食管理法第十八條條文修正草案」案。\n六、審查本院委員江啟臣等24人擬具「糧食管理法第十四條之一及第十八條條文修正草案」案。\n七、審查本院委員鄭汝芬等36人擬具「糧食管理法第十八條條文修正草案」案。\n八、審查本院委員李應元等19人擬具「糧食管理法第十四條及第十八條條文修正草案」案。\n九、審查本院委員葉津鈴等17人擬具「糧食管理法增訂第十八條之二條文草案」案。\n十、審查本院委員蘇震清等27人擬具「糧食管理法部分條文修正草案」案。\n十一、審查本院委員王育敏等24人擬具「糧食管理法第四條、第十四條之一及第十八條條文修正草案」案。\n十二、審查本院委員羅淑蕾等22人擬具「糧食管理法第十八條條文修正草案」案。\n十三、審查本院委員江惠貞等22人擬具「糧食管理法第十八條條文修正草案」案。\n十四、審查本院委員張嘉郡等24人擬具「糧食管理法第十四條之一及第十八條條文修正草案」案。\n十五、審查本院委員王惠美等21人擬具「糧食管理法第十八條條文修正草案」案。\n十六、審查本院委員蔣乃辛等28人擬具「糧食管理法第十四條之一及第十八條條文修正草案」案。\n十七、審查本院委員李貴敏等38人擬具「糧食管理法第十四條、第十八條及第十八條之二條文修正草案」案。\n十八、審查本院委員田秋堇等22人擬具「糧食管理法第十四條之一及第十八條條文修正草案」案。\n十九、審查本院台灣團結聯盟黨團擬具「糧食管理法第十八條條文修正草案」案。\n二十、審查本院委員謝國樑等20人擬具「糧食管理法第十八條及第十八條之二條文修正草案」案。\n二十一、審查本院委員吳育仁等20人擬具「糧食管理法第十八條條文修正草案」案。\n二十二、審查本院委員李慶華等23人擬具「糧食管理法第十八條條文修正草案」案。(4月23日、24日上午二天一次會)",
                     "committee":[
                        "ECO"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":13,
                     "sitting_id":"08-05-IAD-13",
                     "id":60860,
                     "date":"2014-04-23T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期內政委員會第13次全體委員會議",
                     "chair":"陳其邁",
                     "summary":"：邀請內政部部長陳威仁就「馬政府住宅政策失靈，導致購屋痛苦指數居高不下。居住不正義，政府如何解決？」進行專題報告並備質詢；另邀請財政部、國防部、衛生福利部、勞動部、金融監督管理委員會、國家發展委員會派員備詢。",
                     "committee":[
                        "IAD"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":8,
                     "sitting_id":"08-05-TRA-08",
                     "id":60766,
                     "date":"2014-04-23T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期交通委員會第8次全體委員會議",
                     "chair":"楊麗環",
                     "summary":"處理103年度中央政府總預算有關交通部及所屬單位預算動支等38案。(4月21日及23日二天一次會)(處理)",
                     "committee":[
                        "TRA"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":null,
                     "sitting_id":null,
                     "id":60881,
                     "date":"2014-04-23T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"12:00:00",
                     "type":"misc",
                     "name":"立法院經濟委員會考察活動",
                     "chair":"林岱樺",
                     "summary":"考察經濟建設業務",
                     "committee":[
                        "ECO"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":8,
                     "sitting_id":"08-05-FIN-08",
                     "id":60773,
                     "date":"2014-04-23T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期財政委員會第8次全體委員會議",
                     "chair":"李應元",
                     "summary":"一、審查本院委員葉宜津等19人、委員李昆澤等19人、委員盧秀燕等25人及委員許添財等18人分別擬具「土地稅法第十五條及第十六條條文修正草案」案、委員蔡其昌等18人擬具「土地稅法第六條條文修正草案」案、委員陳超明等26人擬具「土地稅法第二十二條條文修正草案」案、委員吳宜臻等23人擬具「土地稅法第十九條條文修正草案」案、委員潘孟安等18人擬具「土地稅法第六條之一及第二十條條文修正草案」案及委員李應元等16人擬具「土地稅法第九條條文修正草案」案計9案。二、審查本院委員孫大千等18人擬具「房屋稅條例增訂第五條之一條文草案」案及委員李應元等16人擬具「房屋稅條例第五條條文修正草案」案2案。(4月23日及24日兩天一次會)",
                     "committee":[
                        "FIN"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":14,
                     "sitting_id":"08-05-FND-14",
                     "id":60720,
                     "date":"2014-04-23T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期外交及國防委員會第14次全體委員會議",
                     "chair":"陳歐珀",
                     "summary":"邀請外交部部長林永樂、國防部、經濟部、衛生福利部、行政院環境保護署、行政院原子能委員會主任委員、內政部消防署、台灣電力公司董事長報告「外國政府及NGO、NPO團體針對我國核四運轉及可能核災因應對策」，並備質詢。",
                     "committee":[
                        "FND"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":9,
                     "sitting_id":"08-05-ECO-09",
                     "id":60840,
                     "date":"2014-04-23T00:00:00.000Z",
                     "time_start":"14:30:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期經濟委員會第9次全體委員會議",
                     "chair":"林岱樺",
                     "summary":"審查103年度中央政府總預算案附屬單位預算非營業部分關於經濟部主管：經濟特別收入基金（含推廣貿易基金、能源研究發展基金、石油基金、再生能源發展基金）、地方產業發展基金。（詢答）(4月23日下午、24日上午二天一次會)",
                     "committee":[
                        "ECO"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":9,
                     "sitting_id":"08-05-JUD-09",
                     "id":60770,
                     "date":"2014-04-23T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期司法及法制委員會第9次全體委員會議",
                     "chair":"呂學樟",
                     "summary":"（上午9時至11時）\n一、審查委員呂學樟等23人擬具「刑事妥速審判法第五條及第七條條文修正草案」案。\n（上午11時至12時、下午2時30分至5時30分）\n二、繼續審查行政院函請審議「中華民國刑法第三百四十七條條文修正草案」案。\n三、繼續併案審查（一）委員陳根德等16人擬具「中華民國刑法第一百三十一條條文修正草案」及（二）委員蔡正元等19人擬具「中華民國刑法第一百三十一條條文修正草案」案。\n四、繼續併案審查（一）委員蔡正元等16人擬具「貪污治罪條例第六條條文修正草案」及（二）委員陳根德等20人擬具「貪污治罪條例第六條條文修正草案」案。",
                     "committee":[
                        "JUD"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":null,
                     "sitting_id":null,
                     "id":60800,
                     "date":"2014-04-23T00:00:00.000Z",
                     "time_start":"14:30:00",
                     "time_end":"17:30:00",
                     "type":"hearing",
                     "name":"舉行【就《資源循環利用法草案》之立法：從「環評制度改變」看「自由經濟示範區特別條例草案」；由行政院環境保護署「環境保護設施計畫」談「全國區域計畫」修訂】公聽會",
                     "chair":"劉建國",
                     "summary":"",
                     "committee":[
                        "SWE"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":16,
                     "sitting_id":"08-05-SWE-16",
                     "id":60775,
                     "date":"2014-04-23T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"12:00:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期社會福利及衛生環境委員會第16次全體委員會議",
                     "chair":"劉建國",
                     "summary":"邀請行政院環境保護署魏署長國彥、外交部次長、行政院大陸委員會副主任委員、法務部等派員就「一、美國環保署署長麥卡錫女士(Administrator Gina McCarthy)訪臺暨行政院環境保護署宣布成立『國際環境夥伴計畫』(International Environmental Partnership)對臺美環保合作及該計畫內容對我國環保工作之機遇、挑戰與影響評估；二、《兩岸環境保護合作協議》之利弊評估與洽簽協商進度」列席報告，並備質詢。",
                     "committee":[
                        "SWE"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":9,
                     "sitting_id":"08-05-ECO-09",
                     "id":60804,
                     "date":"2014-04-23T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期經濟委員會第9次全體委員會議",
                     "chair":"林岱樺",
                     "summary":"審查103年度中央政府總預算案附屬單位預算非營業部分關於經濟部主管：經濟特別收入基金（含推廣貿易基金、能源研究發展基金、石油基金、再生能源發展基金）、地方產業發展基金。（詢答）(4月23日、24日上午二天一次會)",
                     "committee":[
                        "ECO"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":14,
                     "sitting_id":"08-05-EDU-14",
                     "id":60789,
                     "date":"2014-04-23T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期教育及文化委員會第14次全體委員會議",
                     "chair":"陳碧涵",
                     "summary":"一、併案審查行政院函請審議「專科學校法修正草案」、委員徐欣瑩等31人擬具「專科學校法第七條及第三十五條之一條文修正草案」、委員蔣乃辛等23人擬具「專科學校法第二十四條條文修正草案」、委員陳亭妃等21人擬具「專科學校法第三十六條條文修正草案」案。二、繼續審查委員林淑芬等17人擬具「專科學校法第三十五條條文修正草案」案。三、併案審查行政院函請審議「家庭教育法第十四條條文修正草案」、委員馬文君等22人擬具「家庭教育法第十四條條文修正草案」案。(4月23日及24日二天一次會)",
                     "committee":[
                        "EDU"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":7,
                     "sitting_id":"08-05-PRO-07",
                     "id":60740,
                     "date":"2014-04-22T00:00:00.000Z",
                     "time_start":"12:00:00",
                     "time_end":"14:00:00",
                     "type":"sitting",
                     "name":"第8屆第5會期第7次會議",
                     "chair":"吳秉叡",
                     "summary":"審定本院第8屆第5會期第7次會議議事日程及處理人民請願案",
                     "committee":[
                        "PRO"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":6,
                     "sitting_id":"08-05-YS-06",
                     "id":60641,
                     "date":"2014-04-22T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"18:00:00",
                     "type":"sitting",
                     "name":"第8屆第5會期第6次會議",
                     "chair":null,
                     "summary":"一、18日上午9時至10時為國是論壇時間。二、對行政院院長提出施政方針及施政報告，繼續質詢。三、22日下午1時50分至2時30分為處理臨時提案時間。",
                     "committee":null,
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":8,
                     "sitting_id":"08-05-TRA-08",
                     "id":60765,
                     "date":"2014-04-21T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期交通委員會第8次全體委員會議",
                     "chair":"楊麗環",
                     "summary":"處理103年度中央政府總預算有關交通部及所屬單位預算動支等38案。(4月21日及23日二天一次會)(報告及詢答)",
                     "committee":[
                        "TRA"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":null,
                     "sitting_id":null,
                     "id":60762,
                     "date":"2014-04-21T00:00:00.000Z",
                     "time_start":"08:30:00",
                     "time_end":"12:00:00",
                     "type":"misc",
                     "name":"第8屆第5會期考察",
                     "chair":"李應元",
                     "summary":"考察「新北市社會住宅及合宜住宅預算執行情形」。",
                     "committee":[
                        "FIN"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":3,
                     "sitting_id":"08-05-IAD-03",
                     "id":60780,
                     "date":"2014-04-21T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"12:00:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期內政委員會「行政院鎮壓反服貿學運真相調閱專案小組」第3次全體委員會議",
                     "chair":"陳其邁",
                     "summary":"：討論「行政院鎮壓反服貿學運真相調閱專案小組」所調閱文件資料及其檢送情形、後續相關事宜，並請行政院秘書長李四川、內政部部長陳威仁、警政署署長王卓鈞、各保安警察總隊總隊長、刑事警察局局長林德華、臺北市政府警察局局長黃昇勇、臺北市政府警察局中正第一分局分局長方仰寧、衛生福利部、法務部、國家安全局等進行報告，並備質詢。",
                     "committee":[
                        "IAD"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":8,
                     "sitting_id":"08-05-ECO-08",
                     "id":60777,
                     "date":"2014-04-21T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"12:00:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期經濟委員會第8次全體委員會議",
                     "chair":"黃昭順",
                     "summary":"審查103年度中央政府總預算案附屬單位預算營業部分關於經濟部主管：台灣糖業股份有限公司。（詢答及處理）",
                     "committee":[
                        "ECO"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":15,
                     "sitting_id":"08-05-SWE-15",
                     "id":60768,
                     "date":"2014-04-21T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期社會福利及衛生環境委員會第15次全體委員會議",
                     "chair":"劉建國",
                     "summary":"一、邀請勞動部潘部長世偉、外交部次長、行政院大陸委員會副主任委員、交通部民用航空局副局長、經濟部、教育部、法務部等派員就「近5年來我國國人赴『海外工作』之概況(含類型、國別、人數、行業別及工作時間等統計資料)及其相關勞動權益保障問題」列席報告，並備質詢。\n二、審查本院委員潘孟安等18人擬具「就業保險法第二十二條條文修正草案」。\n三、併案審查本院委員楊麗環等18人擬具「家事勞工權益保障法草案」、委員林淑芬等24人擬具「家事服務法草案」等2案。",
                     "committee":[
                        "SWE"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":12,
                     "sitting_id":"08-05-IAD-12",
                     "id":60781,
                     "date":"2014-04-21T00:00:00.000Z",
                     "time_start":"14:30:00",
                     "time_end":"17:30:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期內政委員會第12次全體委員會議",
                     "chair":"陳其邁",
                     "summary":"：討論立法院內政委員會「海峽兩岸服務貿易協議調閱專案小組」運作要點草案。",
                     "committee":[
                        "IAD"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  },
                  {
                     "sitting":8,
                     "sitting_id":"08-05-ECO-08",
                     "id":60801,
                     "date":"2014-04-21T00:00:00.000Z",
                     "time_start":"09:00:00",
                     "time_end":"12:00:00",
                     "type":"sitting",
                     "name":"立法院第8屆第5會期經濟委員會第8次全體委員會議",
                     "chair":"黃昭順",
                     "summary":"審查103年度中央政府總預算案附屬單位預算營業部分關於經濟部主管：台灣糖業股份有限公司。（詢答及處理）",
                     "committee":[
                        "ECO"
                     ],
                     "ad":8,
                     "session":5,
                     "extra":null
                  }
               ]
            }

# Group ttsmotions
+ This is the api group of ttsmotions (議案進度)
+ 提供了國會圖書館上的議案進度資料 (ttsmotions collections)

## GET /v0/collections/ttsmotions/
Example: http://api.ly.g0v.tw/v0/collections/ttsmotions/
+ Response 200 (application/json; charset=UTF-8)

    + Body

            {
               "paging":{
                  "count":19208,
                  "l":30,
                  "sk":0
               },
               "entries":[
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"87",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "87"
                           ]
                        }
                     ],
                     "speakers":[
                        {
                           "name":"趙天麟",
                           "n":"1",
                           "links":[
                              [
                                 "g",
                                 103,
                                 13,
                                 2,
                                 324,
                                 332
                              ]
                           ]
                        },
                        {
                           "name":"呂學樟",
                           "n":"1",
                           "links":[
                              [
                                 "g",
                                 103,
                                 13,
                                 2,
                                 332,
                                 336
                              ]
                           ]
                        },
                        {
                           "name":"吳育仁",
                           "n":"1",
                           "links":[
                              [
                                 "g",
                                 103,
                                 13,
                                 2,
                                 350,
                                 355
                              ]
                           ]
                        },
                        {
                           "name":"劉櫂豪",
                           "n":"1",
                           "links":[
                              [
                                 "g",
                                 103,
                                 13,
                                 2,
                                 355,
                                 363
                              ]
                           ]
                        },
                        {
                           "name":"蔡其昌",
                           "n":"1",
                           "links":[
                              [
                                 "g",
                                 103,
                                 13,
                                 2,
                                 363,
                                 374
                              ]
                           ]
                        },
                        {
                           "name":"盧秀燕",
                           "n":"1",
                           "links":[
                              [
                                 "g",
                                 103,
                                 13,
                                 2,
                                 374,
                                 381
                              ]
                           ]
                        },
                        {
                           "name":"陳根德",
                           "n":"1",
                           "links":[
                              [
                                 "g",
                                 103,
                                 13,
                                 2,
                                 381,
                                 385
                              ]
                           ]
                        },
                        {
                           "name":"蔡正元",
                           "n":"1",
                           "links":[
                              [
                                 "g",
                                 103,
                                 13,
                                 2,
                                 385,
                                 394
                              ]
                           ]
                        }
                     ],
                     "agencies":null,
                     "memo":null,
                     "bill_refs":null,
                     "tags":null,
                     "category":[
                        "公共政策"
                     ],
                     "topic":[
                        "政府施政"
                     ],
                     "progress":null,
                     "resolution":"繼續質詢。(p.324-337 [\"g\",103,13,2,324,337],350-394 [\"g\",103,13,2,350,394])",
                     "summary":"對行政院院長提出施政方針及施政報告，繼續質詢。",
                     "motion_type":[
                        "施政報告"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:001"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"2",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "2"
                           ]
                        },
                        {
                           "text":"1-18",
                           "link":[
                              "a",
                              8,
                              5,
                              1,
                              91,
                              "1-18"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":null,
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":null,
                     "resolution":"確定。(p.279 [\"g\",103,13,2,279,279])",
                     "summary":"一、宣讀本院第8屆第5會期第1次會議議事錄。",
                     "motion_type":[
                        "其他案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:101"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"2",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "2"
                           ]
                        },
                        {
                           "text":"1-48",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              72,
                              "1-48"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "666G16088"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.279 [\"g\",103,13,2,279,279])",
                     "summary":"二、本院委員陳其邁等22人擬具「土地徵收條例修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:102"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"2",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "2"
                           ]
                        },
                        {
                           "text":"49-68",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              72,
                              "49-68"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "308L16089"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"一讀",
                     "resolution":"交司法及法制委員會審查。(p.279 [\"g\",103,13,2,279,279])",
                     "summary":"三、本院委員楊麗環等49人擬具「毒品危害防制條例第二條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:103"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"2",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "2"
                           ]
                        },
                        {
                           "text":"69-70",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              72,
                              "69-70"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1375L16090"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"一讀",
                     "resolution":"交經濟委員會審查。(p.279 [\"g\",103,13,2,279,279])",
                     "summary":"四、本院委員潘孟安等18人擬具「公平交易法第七條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:104"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"2",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "2"
                           ]
                        },
                        {
                           "text":"71-72",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              72,
                              "71-72"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "468L16091"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"一讀",
                     "resolution":"交社會福利及衛生環境委員會審查。(p.279 [\"g\",103,13,2,279,279])",
                     "summary":"五、本院委員潘孟安等18人擬具「就業保險法第二十二條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:105"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"2",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "2"
                           ]
                        },
                        {
                           "text":"73-76",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              72,
                              "73-76"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1539L16092"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"一讀",
                     "resolution":"交經濟、財政兩委員會審查。(p.279-280 [\"g\",103,13,2,279,280])",
                     "summary":"六、本院委員賴士葆等23人擬具「產業創新條例部分條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:106"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"3",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "3"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1044L14925"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.280 [\"g\",103,13,2,280,280])",
                     "summary":"七、本院委員丁守中等26人擬具「不在籍投票法草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:107"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"3",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "3"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1044L14927"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.280 [\"g\",103,13,2,280,280])",
                     "summary":"八、本院委員鄭天財等24人擬具「公職人員選舉罷免法第十五條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:108"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"3-4",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "3-4"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1679L14928"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.280 [\"g\",103,13,2,280,280])",
                     "summary":"九、本院委員鄭天財等25人擬具「總統副總統選舉罷免法第十三條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:109"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"4",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "4"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1374L16070"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.280 [\"g\",103,13,2,280,280])",
                     "summary":"十、本院民進黨黨團擬具「臺灣與中國締結協議處理條例草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:110"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"4",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "4"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1434L12953"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.280 [\"g\",103,13,2,280,280])",
                     "summary":"十一、本院民進黨黨團擬具「政黨及其附隨組織取得財產清查及處理條例草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:111"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"4",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "4"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "660L15654"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.281 [\"g\",103,13,2,281,281])",
                     "summary":"十二、本院民進黨黨團擬具「電業法修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:112"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"4-5",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "4-5"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1422L15516"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.281 [\"g\",103,13,2,281,281])",
                     "summary":"十三、本院委員田秋堇等19人擬具「環境基本法第二十三條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:113"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"5",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "5"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1554L15360"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.281 [\"g\",103,13,2,281,281])",
                     "summary":"十四、本院委員李俊俋等20人擬具「臺灣地區與大陸地區人民關係條例第五條、第九十三條之一及第九十五條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:114"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"5",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "5"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1688L14476"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.281 [\"g\",103,13,2,281,281])",
                     "summary":"十五、本院委員李俊俋等16人擬具「中華民國總統府組織法第十六條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:115"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"6",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "6"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "215L14533"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.281 [\"g\",103,13,2,281,281])",
                     "summary":"十六、本院委員李俊俋等16人擬具「審計法第三十四條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:116"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"6",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "6"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "23L14620"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.281 [\"g\",103,13,2,281,281])",
                     "summary":"十七、本院委員李俊俋等16人擬具「立法委員行為法部分條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:117"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"6-7",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "6-7"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "23L14623"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.282 [\"g\",103,13,2,282,282])",
                     "summary":"十八、本院委員李俊俋等17人擬具「立法院各委員會組織法第九條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:118"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"7",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "7"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "9L14624"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.282 [\"g\",103,13,2,282,282])",
                     "summary":"十九、本院委員李俊俋等17人擬具「立法院議事規則刪除第六十一條條文草案」，請審議案。",
                     "motion_type":[
                        "查照案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:119"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"7",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "7"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1607L15407"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.282 [\"g\",103,13,2,282,282])",
                     "summary":"二十、本院委員李俊俋等31人擬具「中華民國憲法增修條文第四條、第四條之一及第七條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:120"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"7",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "7"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "23L15469"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.282 [\"g\",103,13,2,282,282])",
                     "summary":"二十一、本院委員李俊俋等19人擬具「立法院職權行使法增訂部分條文草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:121"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"8",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "8"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1554G15391"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.282 [\"g\",103,13,2,282,282])",
                     "summary":"二十二、本院委員段宜康等27人擬具「臺灣地區與大陸地區人民關係條例第五條及第五條之三條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:122"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"8",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "8"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "310L15670"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.282 [\"g\",103,13,2,282,282])",
                     "summary":"二十三、本院委員段宜康等20人擬具「國家安全會議組織法修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:123"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"8",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "8"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1554L15395"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.282-283 [\"g\",103,13,2,282,283])",
                     "summary":"二十四、本院委員尤美女等24人擬具「臺灣地區與大陸地區人民關係條例第四條之二、第五條及第九十五條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:124"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"8-9",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "8-9"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "23L15393"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.283 [\"g\",103,13,2,283,283])",
                     "summary":"二十五、本院委員尤美女等21人擬具「立法院組織法第三條及第十三條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:125"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"9",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "9"
                           ]
                        }
                     ],
                     "speakers":null,
                     "agencies":null,
                     "memo":null,
                     "bill_refs":[
                        "1044L15396"
                     ],
                     "tags":null,
                     "category":null,
                     "topic":null,
                     "progress":"退回程序",
                     "resolution":"退回程序委員會重新提出。(p.283 [\"g\",103,13,2,283,283])",
                     "summary":"二十六、本院委員尤美女等21人擬具「公職人員選舉罷免法第七十三條及第九十條條文修正草案」，請審議案。",
                     "motion_type":[
                        "法律案"
                     ],
                     "chair":[
                        "王金平",
                        "洪秀柱"
                     ],
                     "date":"2014-03-04T00:00:00.000Z",
                     "tts_key":"17872:126"
                  },
                  {
                     "sitting_id":"08-05-YS-02",
                     "source":[
                        {
                           "text":"9",
                           "link":[
                              "a",
                              8,
                              5,
                              2,
                              71,
                              "9"
                           ]
                        }
                     ],
                     "speakers":null,
[...]
